body{
    margin: 0;
}
.max{
    width: 500px;
    margin:50px auto;
    user-select: none;
}
.title{
    background-color: #eee;
    padding: 5px;
}
.content{
    transition: .3s;
}
.box{
    height: 30.8px;
    overflow: hidden;
    transition: .3s;
}
.cont_toggle{
    height: 135px;
}