body{
    margin: 0;
}
:root{
    --fontSize:12px;
}
.max{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(149, 149, 149, 0.479);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSize);
    display: none;
    user-select: none;
}
.box{
    width: 250px;
}
.title{
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.content{
    padding:30px 20px;
    background-color: #fff;
}
.footer{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgb(251, 251, 251);
}
.true_{
    background-color: rgb(19,152,255);
    outline: none;
    border: none;
    color: #fff;
    font-size: var(--fontSize);
    font-weight: 100;
    padding: 2px 10px;
}
.flase_{
    cursor: pointer;
}