body {
  margin: 0;
  background-color: #eeeeee;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 616px;
  margin: 200px auto;
  border-radius: 15px;
  overflow: hidden;
}
li {
  display: flex;
  width: 150px;
  height: 80px;
  margin: 2px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li div::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../img/15-12.png');
}
li:hover div::before {
  animation: scale 1s linear;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}
li:nth-child(1) div::before {
  background-position: 0 -160px;
}
li:nth-child(2) div::before {
  background-position: 0 -200px;
}
li:nth-child(3) div::before {
  background-position: 0 -240px;
}
li:nth-child(4) div::before {
  background-position: 0 -280px;
}
li:nth-child(5) div::before {
  background-position: 0 -320px;
}
li:nth-child(6) div::before {
  background-position: 0 -360px;
}
li:nth-child(7) div::before {
  background-position: 0 -400px;
}
li:nth-child(8) div::before {
  background-position: 0 -440px;
}
li:nth-child(9) div::before {
  background-position: 0 0px;
}
li:nth-child(10) div::before {
  background-position: 0 -40px;
}
li:nth-child(11) div::before {
  background-position: 0 -80px;
}
li:nth-child(12) div::before {
  background-position: 0 -120px;
}
